<article>
  <h1 class="mainTitle">Beauty through the ages</h1>
  <h2 class="subTitle">Nature, photos of amazing places!</h2>
  <section>
    <section class="row">
      <div class="box-img">
        <img src="../assets/world.jpeg" />
      </div>
      <div class="box-img">
        <img src="../assets/2.jpeg" />
      </div>
      <div class="box-img">
        <img src="../assets/7.jpeg" />
      </div>
      <div class="box-img">
        <img src="../assets/2.jpeg" />
      </div>
      <div class="box-img">
        <img src="../assets/5.jpeg" />
      </div>
      <div class="box-img">
        <img src="../assets/8.jpeg" />
      </div>
      <div class="box-img">
        <img src="../assets/3.jpeg" />
      </div>
      <div class="box-img">
        <img src="../assets/6.jpeg" />
      </div>
      <div class="box-img">
        <img src="../assets/9.jpeg" />
      </div>
    </section>
  </section>
  <a class="link_button" routerLink="feedback-and-chat"
    >Find out more about these guys!</a
  >
  <router-outlet></router-outlet>
</article>
